@use '../util';

.cards {
  margin: 2rem 4rem;
  display: flex;
  justify-content: center;

  @include util.breakpoint-down(small) {
    margin: 2rem 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include util.breakpoint-down(small) {
      flex-direction: column;
    }

    .card {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      height: 15em;
      width: 22em;
      margin: 1rem;

      box-shadow: 0px 20px 50px 3px hsla(234, 12%, 34%, 0.2);
      border-radius: 10px;
      overflow: hidden;

      &__line {
        height: 0.3em;
        width: 100%;
      }

      &__title {
        color: var(--v-dark-blue);
        margin: 2rem 2rem 1rem 2rem;
      }

      &__description {
        color: var(--grayish-blue);
        font-size: 0.8rem;
        margin: 0rem 2rem;
      }

      &__photo {
        position: absolute;
        top: 10em;
        left: 16em;
      }

      .cyan {
        background-color: var(--cyan);
      }

      .red {
        background-color: var(--red);
      }

      .orange {
        background-color: var(--orange);
      }

      .blue {
        background-color: var(--blue);
      }

      &:nth-child(2) {
        margin-top: 1.5rem;
      }

      @include util.breakpoint-down(medium) {
        height: 12em;
        width: 15em;

        &__photo {
          height: 25%;
          top: 8em;
          left: 10em;
        }
      }

      @include util.breakpoint-down(small) {
        height: 15em;
        width: 90%;
        max-width: 25em;

        &__photo {
          height: 20%;
          top: 10em;
          left: 75%;
        }
      }
    }
  }
}
